# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv
venv/

# Environment
.env

# Claude Code
.claude/settings.local.json

# IDE
.vscode/
.idea/

# data
src/data/
# src/data/World Cup 2026 Data/
# src/data/world cup data/
# src/data/World Cup Historical Data/